@import "bootstrap/_bootstrap";
@import "compass/css3";

// my theme
$buff: #666446;
$blue: #233E47;
$green: #066964;
$natural: #E0DEA0;
$ecru: #FFFACD;

$default-text-shadow-color: rgba(black, 0.4);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;

/* helpers */
.clear { clear: both; }

body {

}

/* form bits */
.btn-file {
    position: relative;
    overflow: hidden;
	
	input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
	}
}

#header {
	.navbar {
		margin-bottom: 0;
	}
}

/* walk pages */
.splash {
	position: relative;
	min-height: 360px;
	padding: 40px 0;
	margin-bottom: 20px;
	background: {
		repeat: no-repeat;
		position: center center;
		@include background-size(cover);
	};
	
	.splash-inner {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		@include background-image(linear-gradient(rgba(0, 0, 0, 0) 80%, rgba($blue, 0.8)));
	}
	
	h1 {
		margin-top: 40px;
		font-family: pacifico;
		color: #FFF;
		font-weight: 400;
		font-size: 4em;
		@include single-text-shadow();
	}
	
	.nav {
		position: absolute;
		bottom: 0;
		border-bottom: none;
		
		a {
			&:link, &:visited {
				color: $ecru;
			}
			
			&:hover, &:active, &:focus {
				color: $blue;
			}
		}
			
		.active {
			a {
				&:link, &:visited, &:hover, &:active, &:focus {
					color: $blue;
				}
			}
		}
		
		.dropdown-menu {
			a {
				&:link, &:visited {
					color: $natural;
				}
				
				&:hover, &:active, &:focus {
					color: $ecru;
				}
			}
		}
	}
}

#map {
	width: 100%;
	height: 500px;
}

/* footer */

#footer {
	background: $buff;
	color: #FFF;
	padding: 1em 0;
	margin-top: 1em;
}